/* Font variables */
// $fonts: 'Lato', 'Monaco', 'Serif', 'Open Sans', 'Junction', 'Fertigo', 'Vollkorn', Arial, Helvetica, sans-serif, 'Ubuntu';
// $fonts: Georgia, Verdana, 'Open Sans', sans-serif;
$fonts: 'Source Sans Pro', 'Noto Sans', 'Open Sans', 'Pt Sans', 'Lato', sans-serif;

/* Colours */
$red : #ff420e; // random red-orange
$blue: #0000ff;
$white : #ffffff;
$yellow : #ffff00;
$green: #89da59;
$grey3 :rgba(0,0,0,0.7);
$greyd: #f7f6f6;
$greye: #e6e6e6;
$black: #000000;
$grey8: #444343;
$grey1: #c3c3c3;
$white1:#ededed;

$watermelon: #ff3b3f;
$carbon:#a9a9a9;
$sky:#99d2df;
$sky1: #90afc5;
$neutral: #f8f8f8;

/* Navigation Bar Colours */
$nav-colour: $watermelon;
$nav-link-colour: $white;
$nav-hover-colour: $yellow;
